# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/venv/

# Environment variables
.env
.env.*

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db